#reports_menu{
    overflow: scroll;
    max-height: 87%;
}

#nav_bar{
    height: 60px;
}

#col4 {
    padding-left: 0;
    padding-right: 0;
    height: -webkit-calc(100vh - 60px);
    height: -moz-calc(100vh - 60px);
    height: calc(100vh - 60px);
}

#col8{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#data_table{
    text-align: center;
}

#data_table_no_data_selected{
    text-align: center;
    margin-right: 15%;
    margin-top: 10%;
    color: #C2C2C2;
}

#date_search_month_box{
    padding-top: 10px;
    padding-bottom: 10px;

    margin: auto;
}
#date_search_year_box{

    margin: auto;
}

#reports_menu_buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-top: 5px;
}