#reports_menu{
    overflow: scroll;
    max-height: 500px;
}


#print_download_btns{
    float: right;
    margin-right: 2%;

}

#col4{
    margin-top: 3%;
}


#col8{
    margin-top: 6%;
}

#data_table{
    margin-left: 2%;
    width: 50%;
}
