#reports_menu{
    overflow: scroll;
    max-height: 500px;
}


#print_download_btns{
    float: right;
    margin-right: 2%;

}

#col4{
    margin-top: 3%;
}


#col8{
    margin-top: 3%;
}

#data_table{
    margin-left: 2%;
}

#data_table_no_data_selected{
    text-align: center;
    margin-right: 15%;
    margin-top: 10%;
    color: #C2C2C2;
}