#nav_bar{
    padding-top: 3vh;
}
#dropdown_form{
    width: 250px;
}

#username_input{
    margin-right: 5px;

}
#password_input{
    margin-right: 5px;

}

#jumbotron{
padding-top: 15vh;
}

#bg_div_1{
    margin: 0;
    padding: 0;
    background: linear-gradient(#D65D28, #FF9B70);
    height: 95vh;

}

#bg_div_2{
    margin: 0;
    padding: 0;

    padding-top: 10vh;
    padding-bottom: 10vh;
}

#jumbotron2{
    text-align: right;


}

#bg_div_3{
    margin: 0;
    padding: 0;

    padding-top: 10vh;
    padding-bottom: 10vh;
    background: linear-gradient(#D65D28, #FF9B70);
}

#jumbotron3{
    text-align: left;

}

#bg_div_4{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 15vh;
    padding-left: 15vh;
    color: #757575;
}
#bg_div_5{
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;

}

.container_custom{
    width: 80vw;
    margin: auto;
}